<div class="header">
    <h2>Accounts</h2>
</div>
<table class="accountTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="account in accounts.accounts"
            class="accountMain {{accounts.activeAccount.id == account.id ? 'active':''}}"
            ng-click="accounts.activeAccount = account">
            <td class="icon"><img src="img/accountType-{{account.type}}.svg" alt="{{account.type}}" /></td>
            <td class="name"><a ng-click>{{account.name}}</a></td>
            <td class="actions">
                <button type="button" ng-show="account.type!='GROUPED'"
                        dropzone
                        on-file-add="accounts.upload.forAccount(account)"
                        on-error="accounts.upload.error(message, xhr)"
                        on-success="accounts.upload.done(response)"
                        url="accounts.upload.getUrl()" >Upload</button>
                <button type="button" ng-click="accounts.edit(account)">Edit</button>
                <div ng-show="accounts.upload.targetId == account.id" class="accountUpload">
                    <form ng-submit="accounts.upload.perform()" class="dialog">
                        <div class="placeholder_upload_{{account.id}}" ng-click="accounts.upload.selectFile()">{{accounts.upload.selectedFile.name}}</div>
                        <label for="format_upload_{{account.id}}">Format</label>
                        <select name="format_upload_{{account.id}}" id="format_upload_{{account.id}}"
                                ng-model="accounts.upload.format"
                                ng-options="format as format for format in accounts.upload.formats">
                        </select>
                        <p class="actions">
                            <button type="button" ng-click="accounts.upload.cancel()">Cancel</button>
                            <button type="button" ng-click="accounts.upload.perform()" class="default">Upload</button>
                        </p>
                    </form>
                </div>
            </td>
        </tr>

        <tr ng-repeat-end ng-show="accounts.editValue.id == account.id" class="accountEdit">
            <td colspan="3"><div>
                <form ng-submit="accounts.save()">
                    <label for="accountName_{{account.id}}">Name</label>
                    <input type="text" id="accountName_{{account.id}}" ng-model="accounts.editValue.name" /><br />
                    <label>Type</label>
                    <span class="radioOptions">
                        <span ng-repeat="accountType in accounts.types" class="radioOption">
                            <input id="accountType-{{accountType.value}}_{{account.id}}" type="radio" ng-model="accounts.editValue.type" name="accountType" value="{{accountType.value}}" />
                            <label for="accountType-{{accountType.value}}_{{account.id}}">{{accountType.label}}</label>
                        </span>
                    </span><br />
                    <span ng-show="accounts.editValue.type=='GROUPED'">
                        <label>Group entries</label>
                        <span class="checkGroupOptions">
                            <span ng-repeat="cEntry in accounts.nonGroups()">
                                <input type="checkbox" name="groupEntry" value="{{cEntry.id}}" id="check_{{account.id}}_group_{{cEntry.id}}" check-list="accounts.editValue.groupMembers" />
                                <label for="check_{{account.id}}_group_{{cEntry.id}}">{{cEntry.name}}</label><br />
                            </span>
                        </span>
                    </span>
                    <p class="actions">
                        <button type="button" ng-click="accounts.delete()">Delete</button>
                        <button type="button" ng-click="accounts.cancelEdit()">Cancel</button>
                        <button type="button" ng-click="accounts.save()">Save</button>
                    </p>
                </form>
            </div></td>
        </tr>
        <tr ng-show="accounts.editValue.isNew">
            <td colspan="3"><div>
                <form ng-submit="accounts.save()">
                    <label for="new__accountName">Name</label>
                    <input type="text" id="new__accountName" ng-model="accounts.editValue.name" /><br />
                    <label>Type</label>
                    <span class="radioOptions">
                        <span ng-repeat="accountType in accounts.types" class="radioOption">
                            <input id="accountType-{{accountType.value}}" type="radio" ng-model="accounts.editValue.type" name="accountType" value="{{accountType.value}}" />
                            <label for="accountType-{{accountType.value}}">{{accountType.label}}</label>
                        </span>
                    </span><br />
                    <span ng-show="accounts.editValue.type=='GROUPED'">
                    <label>Group entries</label>
                        <span class="checkGroupOptions">
                            <span ng-repeat="cEntry in accounts.nonGroups()" class="checkGroupOption">
                                <input type="checkbox" name="groupEntry" value="{{cEntry.id}}" id="check_new_group_{{cEntry.id}}" check-list="accounts.editValue.groupMembers" />
                                <label for="check_new_group_{{cEntry.id}}">{{cEntry.name}}</label><br />
                            </span>
                        </span>
                    </span>
                    <p class="actions">
                        <button type="button" ng-click="accounts.cancelEdit()">Cancel</button>
                        <button type="button" ng-click="accounts.save()">Add</button>
                    </p>
                </form>
            </div></td>
        </tr>
    </tbody>
</table>
<p class="accountActions">
    <button type="button" ng-show="!accounts.editValue.isNew" ng-click="accounts.newAccount()">Add account</button>
</p>
