<div class="report piechart-report">
    <div class="header">
        <h2>Categories</h2>
    </div>

    <div>
        <h3>Add category</h3>
        <input type="text" ng-model="name"></input><button ng-click="categories.addNew(name); name=''">Add</button>
    </div>

    <tree-editor nodes="categories.roots" set-parent="categories.setParent(parent, child)" expose="{categories: categories}">
        <div class="category-edit" ng-class="{saving: categories.updates[node.id]}">
            <color-picker ng-model="node.color" ng-change="categories.save(node)"></color-picker>
            <input type="text" ng-model="node.name" ng-change="categories.save(node)" />
            <select name="direction" ng-model="node.direction" ng-change="categories.save(node)" ng-options="item as item for item in ['incoming', 'outgoing']"></select>
            <select name="occurence" ng-model="node.occcurence" ng-change="categories.save(node)" cng-options="item as item for item in ['variable', 'monthly', 'yearly']"></select>
            <button ng-click="categories.delete(node)">Delete</button>
        </div>
    </tree-editor>
</div>
<style>
    .category-edit.saving {
        background: red;
    }

</style>
