<div class="report piechart-report">
    <div class="header">
        <h2>{{report.title}}</h2>
    </div>

    <chart ng-show="report.chart.type == 'bar'" labels="report.chart.labels">
        <series ng-repeat="(name, data) in report.chart.groups" name="{{name}}"
            type="bar" stacked="true" data="data" axis="amounts"></series>
    </chart>
    
    <pie-chart ng-show="report.chart.type == 'pie'" labels="report.chart.labels">
        <series ng-repeat="(name, data) in report.chart.groups" name="{{name}}"
                type="bar" stacked="true" data="data" axis="amounts"></series>
    </pie-chart>
        
    <div class="details-pane">
        <table class="key-value">
                <tr><td class="key">ID</td><td class="value">{{report.detailTransaction.id}}</td></tr>
                <tr><td class="key">Timestamp</td><td class="value">{{report.detailTransaction.timestamp}}</td></tr>
                <tr><td class="key">Amount</td><td class="value">{{report.detailTransaction.amount}}</td></tr>
                <tr><td class="key">Comment</td><td class="value">{{report.detailTransaction.comment}}</td></tr>
                <tr><td class="key">Description</td><td class="value">{{report.detailTransaction.description}}</td></tr>
                <tr><td class="key">Type</td><td class="value">{{report.detailTransaction.type}}</td></tr>
                <tr><td class="key">PeerInfo</td><td class="value">{{report.detailTransaction.peerInfo|json}}</td></tr>
                <tr><td class="key">TerminalInfo</td><td class="value">{{report.detailTransaction.terminalInfo|json}}</td></tr>
        </table>
    </div>


    <input type="checkbox" id="show_unused_cols" ng-model="showUnusedCols" /><label for="show_unused_cols">Show unused columns</label>

    <table class="transactionsTable">
        <thead>
            <tr>
                <th ng-show="showUnusedCols || !report.query.isGrouped() || report.query.isGrouped('date')">
                    <filter-date query="report.query" on-apply="report.applyQuery(query)">Time</filter-date>
                </th>
                <th ng-show="showUnusedCols || !report.query.isGrouped() || report.query.isGrouped('type')">
                    <filter-type types="report.transactionTypes" query="report.query" on-apply="report.applyQuery(query)">Type</filter-type>
                </div></th>
                <th style="text-align: center" ng-show="showUnusedCols || !report.query.isGrouped() || report.query.isGrouped('category')">
                    <filter-category query="report.query" on-apply="report.applyQuery(query)">Category</filter-category>
                </th>
                <th ng-show="!report.query.isGrouped()">Comment</th>
                <th style="text-align: center" ng-show="showUnusedCols || !report.query.isGrouped() || report.query.isGrouped('peer')">Peer</th>
                <th style="text-align: right">Amount</th>
                <th style="text-align: right" ng-show="!report.query.isGrouped()">Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trans in report.transactions" data-id="{{trans.id}}">
                <td ng-show="showUnusedCols || !report.query.isGrouped() || report.query.isGrouped('date')">
                    <span class="date" ng-show="!report.query.isGrouped()">{{report.formatDateShort(trans.timestamp)}}</span>
                    <span class="timeslice" ng-show="report.query.isGrouped('date')">{{trans.timeSlice}}</span>
                    <span ng-show="report.query.isGrouped() && !report.query.isGrouped('date')">*</span>
                    <div context-menu context-button="0" ng-show="trans.timestamp || trans.timeSlice">
                        <a href="#!/reporting#{{report.query.withNewFilter('date', trans.timestamp).asHash()}}" ng-show="trans.timestamp">New filter</a>
                        <a href="#!/reporting#{{report.withAddFilter('date', trans.timestamp)}}" ng-show="trans.timestamp">Add to filter</a>
                        <a href="#!/reporting#{{report.query.withNewFilter('date', report.rangeFor(trans.timeSlice)).asHash()}}" ng-show="trans.timeSlice">New filter</a>
                        <a href="#!/reporting#{{report.withAddFilter('date', report.rangeFor(trans.timeSlice))}}" ng-show="trans.timeSlice">Add to filter</a>
                        <a href="" ng-click="report.showDetails(trans)">Details ...</a>
                    </div>
                </td>
                <td ng-show="showUnusedCols || !report.query.isGrouped() || report.query.isGrouped('type')">
                    <span ng-show="!report.query.isGrouped() || report.query.isGrouped('type')">{{trans.type}}</span>
                    <span ng-show="report.query.isGrouped() && !report.query.isGrouped('type')">*</span>
                    <div context-menu context-button="0" ng-show="trans.type">
                        <a href="#!/reporting#{{report.withNewFilter('type', trans.type)}}">New filter</a>
                        <a href="#!/reporting#{{report.withAddFilter('type', trans.type)}}">Add to filter</a>
                        <a href="" ng-click="report.showDetails(trans)">Details ...</a>
                    </div>
                </td>
                <td ng-show="showUnusedCols || !report.query.isGrouped() || report.query.isGrouped('category')" style="position: relative">
                    <span ng-show="(!report.query.isGrouped() || report.query.isGrouped('category')) && trans.category" class="category" style="color: {{trans.category.color.fg}}; background-color: {{trans.category.color.bg}}";>{{trans.category.name}}</span>
                    <span ng-show="(!report.query.isGrouped() || report.query.isGrouped('category')) && !trans.category" class="category" style="color: {{trans.category.color.fg}}; background-color: {{trans.category.color.bg}}";>[No category]</span>
                    <span ng-show="report.query.isGrouped() && !report.query.isGrouped('category')">*</span>
                    <div context-menu context-button="0" ng-show="trans.category">
                        <a href="#!/reporting#{{report.withNewFilter('category', trans.category ? trans.category.id : null)}}">New filter</a>
                        <a href="#!/reporting#{{report.withAddFilter('category', trans.category ? trans.category.id : null)}}">Add to filter</a>
                        <a href="" ng-click="report.showDetails(trans)">Details ...</a>
                    </div>
                </td>
                <td ng-show="!report.query.isGrouped()">
                    <div inline-edit ng-model="trans.description" ng-change="transactions.updateDescription(trans)">{{trans.description}}&nbsp;</div>
                </td>
                <td ng-show="showUnusedCols || !report.query.isGrouped() || report.query.isGrouped('peer')" style="position: relative">
                    <span ng-show="!report.query.isGrouped() || report.query.isGrouped('peer')" class="peer">
                        {{trans | format_Peer}}</span>
                    <span ng-show="report.query.isGrouped() && !report.query.isGrouped('peer')" class="peer">
                        *</span>
                    <div context-menu context-button="0" ng-show="trans.peer">
                        <a href="#!/reporting#{{report.withNewFilter('peer', trans.peer ? trans.peer.id : null)}}">New filter</a>
                        <a href="#!/reporting#{{report.withAddFilter('peer', trans.peer ? trans.peer.id : null)}}">Add to filter</a>
                        <a href="" ng-click="report.showDetails(trans)">Details ...</a>
                    </div>
                </td>
                <td class="amount">
                    <span ng-show="trans.amount" class="amount {{trans.amount > 0 ? 'positive' : 'negative'}}">{{trans.amount | number : 2}}</span>
                    <span ng-show="trans.total" class="amount {{trans.total > 0 ? 'positive' : 'negative'}}">{{trans.total | number : 2}}</span>
                </td>
                <td ng-show="!report.query.isGrouped()" class="amount">{{trans.balance | number:2}}</td>
            </tr>
        </tbody>
    </table>



</div>
