<div class="report piechart-report">
    <div class="header">
        <h2>Transactions overview</h2>
    </div>

    <div class="details-pane">
        <table class="key-value">
            <tr><td class="key">ID</td><td class="value">{{transactions.detailTransaction.id}}</td></tr>
            <tr><td class="key">Timestamp</td><td class="value">{{transactions.detailTransaction.timestamp}}</td></tr>
            <tr><td class="key">Amount</td><td class="value">{{transactions.detailTransaction.amount}}</td></tr>
            <tr><td class="key">Comment</td><td class="value">{{transactions.detailTransaction.comment}}</td></tr>
            <tr><td class="key">Description</td><td class="value">{{transactions.detailTransaction.description}}</td></tr>
            <tr><td class="key">Type</td><td class="value">{{transactions.detailTransaction.type}}</td></tr>
            <tr><td class="key">PeerInfo</td><td class="value">{{transactions.detailTransaction.peerInfo|json}}</td></tr>
            <tr><td class="key">TerminalInfo</td><td class="value">{{transactions.detailTransaction.terminalInfo|json}}</td></tr>
        </table>
    </div>

    <table class="transactionsTable">
        <thead>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th class="col-category">Category</th>
            <th>Comment</th>
            <th class="col-peer">Peer</th>
            <th class="col-amount">Amount</th>
            <th class="col-amount">Balance</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trans in transactions.transactions" data-id="{{trans.id}}">
            <td><span class="date">{{transactions.formatDateShort(trans.timestamp)}}</span></td>
            <td>{{trans.type}}</td>
            <td>
                <category-selection ng-model="trans.category" on-select="transactions.updateTransactionCategory(trans, item)" />
            </td>
            <td><div inline-edit ng-model="trans.description" ng-change="transactions.updateDescription(trans)">{{trans.description}}&nbsp;</div></td>
            <td style="position: relative">
                <peer-selection ng-model="trans.peer" on-select="transactions.updatePeer(trans, item)" placeholder="{{trans | format_Peer }}" />
            </td>
            <td class="amount {{trans.amount > 0 ? 'positive' : 'negative'}}">{{trans.amount | number:2}}</td>
            <td class="amount">{{trans.balance | number:2 }}</td>
            <td>
                &#x22ef;
                <div context-menu context-button="0">
                    <a href="" ng-click="transactions.showDetails(trans)">Details ...</a>
                    <a href="" ng-click="transactions.createPeerFilter(trans)">Create peer filter</a>
                    <a href="" ng-click="transactions.createCategoryFilter(trans)">Create category filter</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="" ng-click="transactions.loadMore()">Load next page</a>

    <filter-editor ng-model="transactions.filterEditor" />

</div>
