<div class="categorySelection popover">
    <div class="filter-section">
        <input type="text" class="ps-filter" ng-model="filter" />
    </div>
    <div class="options-section">
        <div class="option {{getOptionClass('__new')}}" data-categoryId="__new" ng-show="showNew()">
            <span class="label">{{filter}}</span>
            <span class="description">create as category</span>
        </div>
        <div class="option {{getOptionClass(option.id)}}" ng-repeat="option in filteredOptions" data-categoryid="{{option.id}}" >
            <span class="label">
                <span class="color" style="background-color: {{option.color.bg}}; color: {{option.color.fg}}">A</span>
                {{option.name}}
            </span>
        </div>
    </div>
</div>