<span class="report-query-trigger" ng-click="vm.active ? vm.cancel() : vm.activate()" ng-transclude></span>
<div class="report-query-backdrop" ng-show="vm.active" ng-mousedown="vm.cancel()">&nbsp;</div>
<div class="report-query-panel" ng-show="vm.active" ng-blur="vm.cancel()">
    <div class="query-section">
        <h4>Filter</h4>
        <span class="section-option">
            <input type="text" ng-model="vm.from" />
            to
            <input type="text" ng-model="vm.to" />
        </span>
        <span class="section-option">
            <a href="" ng-click="vm.selectRange('', '')">all time</a>
            <a href="" ng-click="vm.selectRange('-7d', '')">last 7 days</a>
            <a href="" ng-click="vm.selectRange('-30d', '')">last 30 days</a>
        </span>
    </div>
    <div class="query-section">
        <h4>Grouping</h4>
        <span class="section-option"><input type="radio" name="qs-date-grouping" ng-model="vm.group" value="none" id="{{::$id}}qs-date-grouping-none" /><label for="{{::$id}}qs-date-grouping-none">By transaction</label></span>
        <span class="section-option"><input type="radio" name="qs-date-grouping" ng-model="vm.group" value="day" id="{{::$id}}qs-date-grouping-day" /><label for="{{::$id}}qs-date-grouping-day">By day</label></span>
        <span class="section-option"><input type="radio" name="qs-date-grouping" ng-model="vm.group" value="week" id="{{::$id}}qs-date-grouping-week" /><label for="{{::$id}}qs-date-grouping-week">By week</label></span>
        <span class="section-option"><input type="radio" name="qs-date-grouping" ng-model="vm.group" value="month" id="{{::$id}}qs-date-grouping-month" /><label for="{{::$id}}qs-date-grouping-month">By month</label></span>
        <span class="section-option"><input type="radio" name="qs-date-grouping" ng-model="vm.group" value="year" id="{{::$id}}qs-date-grouping-year" /><label for="{{::$id}}qs-date-grouping-year">By year</label></span>
    </div>
    <div class="query-apply">
        <button ng-click="vm.apply()">Apply</button>
    </div>
</div>
