{
    "extends": "eslint:recommended",
    "env": {
        "browser": true
    },
    "globals": {
        "angular": false,
        "$": false
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 2
    }
}