<div class="modal-window filter-editor" style="display: none;"><div class="modal-window-inner">

    <h2>Edit filter for {{editor.subjectType}}</h2>

    <div class="filter-input">
        <label for="filter-exp">Filter</label>
        <textarea id="filter-exp" class="filter" ng-model="editor.filterExpression" ng-keyup="editor.update()"></textarea>
        <h4 ng-show="editor.exampleTransaction">Your selected transaction</h4>
        <span class="transactionExample">{{editor.exampleTransaction | json}}</span>
    </div>
    <div class="filter-example">
        <div class="error" ng-show="editor.error">Invalid expression</div>
        <div ng-show="!editor.error">
            <h3>Filter result example</h3>
            <table class="example-transactions">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Comment</th>
                    <th>Peer</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="trans in editor.exampleOutput">
                    <td><span class="date">{{trans.timestamp}}</span></td>
                    <td>{{trans.type}}</td>
                    <td>{{trans.category.name}}</td>
                    <td class="amount {{trans.amount > 0 ? 'positive' : 'negative'}}">{{trans.amount}}</td>
                    <td>{{trans.description}}</td>
                    <td>{{editor.formatPeer(trans)}}</td>
                </tr>
                </tbody>
            </table>
            <a href="#">See more &hellip;</a>
        </div>
    </div>

    <p class="apply-options">
        <div ng-show="editor.subjectType=='category'">
            Set category:
            <input category-selection="editor.subject" category-options="transactions.categoryOptions" type="text" value="{{editor.subject.name}}"  on-select="editor.selectCategory" />
        </div>
        <div ng-show="editor.subjectType=='peer'">
            Set peer:
            <input peer-selection="editor.subject" peer-options="transactions.peerOptions" type="text" value="{{editor.subject.name}}" on-select="editor.selectPeer" />
        </div>
        <span><input type="radio" id="apply-all" value="all" ng-model="editor.applyType" /><label for="apply-all">Apply to all transactions</label><br /></span>
        <span ng-show="editor.subjectType=='category'"><input type="radio" id="apply-no-category" value="noCategory" ng-model="editor.applyType" /><label for="apply-no-category">Apply to all uncategorized transactions</label><br /></span>
        <span ng-show="editor.subjectType=='peer'"><input type="radio" id="apply-no-peer" value="noPeer" ng-model="editor.applyType" /><label for="apply-no-peer">Apply to all unpeered transactions</label><br /></span>
        <span><input type="radio" id="apply-future" value="none"  ng-model="editor.applyType" /><label for="apply-future">Apply to all future transactions</label><br /></span>
    </p>
    <p class="actions">
        <button ng-click="editor.save()">Save</button>
        <button ng-click="editor.cancel()">Cancel</button>
    </p>


</div></div>
<script>
    $(function(){
       // $('.filter-editor').hide();
    });
</script>