<div class="peerSelection popover">
    <div class="filter-section">
        <input type="text" class="ps-filter" ng-model="filter" />
    </div>
    <div class="options-section">
        <div class="option {{getOptionClass('__new')}}" data-peerid="__new" ng-show="showNew()">
            <span class="label">{{filter}}</span>
            <span class="description">create as peer</span>
        </div>
        <div class="option {{getOptionClass(option.id)}}" ng-repeat="option in filteredOptions" data-peerid="{{option.id}}">
            <span class="label">{{option.name}}</span>
        </div>
    </div>
</div>